.primary-padding{
    padding: 0vh 13.5vh;
}
.btn{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: .5rem;
background: #FF5400;
width: 10.8rem;
height: 3.25rem;
flex-shrink: 0;
border: none;
display: flex;
justify-content: center;
align-items: center;
}
.search{width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}
/* nav bar related  style */
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .manu{
    display: flex;
    align-items: center;
}
.nav .manu-list{
    display: flex;
    width:100vh;
    margin: 0;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}
.manu-collaps{
    display:none;
}
.list-item{
    list-style: none;
}
.logo h1{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.logo h1 span{
    color: #FF5400;
}
.logo-icon{
    width: 56px;
    height: 48px;
}
.list-item a{
    text-decoration: none;
    color:  #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* header banner */
header{ 
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
}
.header-content{
    padding: 4.25vw 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.header-content .header-title{
    color: #FFF;
font-family: Mulish;
font-size: 4rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
}
.header-content .header-description{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 162.5% */
}
.header-content .select{
    border-radius: .5rem;
background: rgba(255, 255, 255, 0.30);
display: inline-flex;
padding: 1rem;
align-items: flex-start;
gap: 1.5rem;
}
.header-content .select select{
    border-radius: .5rem;
background: #FFF;
width: 10.8rem;
height: 3.25rem;
flex-shrink: 0;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 1rem ;

}
/* destination section */
.destination{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top: 10vh;
}
.destination-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destination-title{
color: #131318;
text-align: center;
font-family: Mulish;
font-size: 2.5rem;
font-weight: 800;
margin: 0%;
}
.destination-description{
    width: 70%;
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 1.6rem; /* 162.5% */
}
.row{
    width: 100%;
    display: flex;
    gap: 1.4rem;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;

}
.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.row div h1{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.7rem;
font-weight: 800;
}
#img1{
    width:573px;
    height:300px;
background-image: url(Images/Rectangle\ 5.png);
background-repeat: no-repeat;

}

#img2{
    width:573px;
    height:300px;
background-image: url(Images/Rectangle\ 8.png);
background-repeat: no-repeat;
}
#img3{
    width: 374px;
    height: 286px;
background-image: url(Images/Rectangle\ 6.png);
background-repeat: no-repeat;
}
#img4{
    width: 474px;
    height: 286px;
background-image: url(Images/Rectangle\ 7.png);
background-repeat: no-repeat;
}
#img5{
    width: 274px;
    height: 286px;
background-image: url(Images/Rectangle\ 9.png);
background-repeat: no-repeat;
}
#img6{
    width: 473px;
    height: 300px;
background-image: url(Images/Rectangle\ 11.png);
background-repeat: no-repeat;
}
#img7{
    width: 673PX;
    height: 300px;
background-image: url(Images/Rectangle\ 10.png);
background-repeat: no-repeat;
}

/* tours section */
.tours{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.tours div{
    width:46%;
    margin: 0% 2%;
}
.tours-title{
    color: #131318;
/* text-align: center; */
font-family: Mulish;
font-size: 2.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
}
.tours-description{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
margin: 1.5rem 0rem; /* 162.5% */
}
.tours ul li{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.6rem; /* 162.5% */
}

.tours .tours-img img{
    width: 100%;
}
/* why choosen us */
.why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem;
    align-items: center;

}
.why-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.why-content h1{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 2.5rem;
font-weight: 800;
margin: 0%;
}
.why-content p{
    width: 60vw ;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 1.6rem; /* 162.5% */
}
.why-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}
.why-item{
    padding: 15px 25px ;
}
.why-item h1{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}
.why-item p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem; /* 162.5% */
}
#why1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
#why2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#why3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}



/* resposive web layout */
/* *********************************************************************************** */
/* mobile web layout */
@media screen and (max-width:576px) {
    .primary-padding{
        padding: 0vh 0vh;
    }
    .nav .manu-list{
        display: none;
    }
    .manu-collaps{
        display:flex;
    }
    /* header */
    header{
        background-position-x:50% ;
    }
    .header-content{
        padding: 2rem 1rem;
    }
     .header-content .header-title{
        font-size: 1.4rem;
    }
    .header-content .header-description{
        font-size: .8rem;
        margin: .4rem 0rem;
    }
    .header-content .select{
        flex-direction: column;
        width: 90%;
    }
    .header-content .select select{
        width: 100%;
    }
    .header-content .select .btn{
        width: 100%;
    }
    /* .tours section */
    .tours{
        flex-direction: column;
    }
    .tours div{
        width: 96%;
    }
    .tours-title{
        font-size: 1.25rem;
    }
    .tours .tours-img img{
        margin-top: 1.5rem;
    }
    /* DESTINATION */
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   /* why */
   .why-img{
    display: flex;
    flex-direction: column;
   }

}
/* tablet web layout */
@media screen and (min-width:577px) and (max-width:1024px) {

    .primary-padding{
        padding: 0vh 0vh;
    }
    .nav .manu-list{
        display: none;
    }
    .manu-collaps{
        display:flex;
    }
    /* header */
    .header-content .header-title{
        font-size: 2rem;
        margin: 0%;
    }
    .header-content .header-description{
        font-size: 1rem;
        margin: .4rem 0rem;
    }
    .header-content .select{
        flex-direction: column;
        width: 90%;
    }
    .header-content .select select{
        width: 100%;
    }
    .header-content .select .btn{
        width: 100%;
    }
    /* tours */
    .tours{
        flex-direction: column;
    }
    .tours div{
        width: 96%;
    }
    .tours .tours-img{
        display: flex;
        justify-content: center;
            
    }
    .tours .tours-img img{
        margin-top: 1.5rem;
        width: 70%;

    }
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}